:root{ --image-width: 330px; }
body{
    background-color: #a3a3a3;
}
#bg{
    cursor:grab;
}
.iconAuthorStyle{
    opacity: 0.5;
    width: fit-content;
    z-index: -1;
    position: absolute;
    text-align: center;
    width: 100%;
}
.error{
    width: 350px;
    margin: auto;
}
.loading {
    text-align: center;
    font-size: 15px;
}
.loading-error-body {
    display: flex;
    height: 30px;
}
.loading-error-body p{
    margin:auto;
    width:fit-content;
}
@media (max-width:500px){
    .iconAuthorStyle{
        bottom: -200px;
    }
    body{
        height:100vh;
    }
    .about-grid img{
        width: 200px;
    }
    .about-main h4{
        width: fit-content !important;
        font-size:12px !important;
    }
    .about-grid{
        grid-gap:5px !important;
    }
    .info-container{
        width:100%;
    }
    .container{
        display: inline-block;
    }
}
@media (min-width:501px) {
    .iconAuthorStyle{
        bottom:0;
    }
    .info-container{
        width:650px;
    }
    .container {
        display: grid;
        grid-template-columns: 0fr 0fr;
        grid-gap: 15px;
        justify-content: center;
    }
    .about-grid img{
        width: --image-width;
        height: 400px;
    }
}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}
blockquote {
    margin:0 auto;
    padding: 20px;
    background: #dfdfdf;
}
.title-bar-text{
    cursor: default;
}
.window{
    background:silver;
}
.model-container{
    width: 375px;
    height: fit-content;
}
.buttons-group {
    display: flex;
    margin-left:5px;
    width: --image-width;
}

.about-main h4 {
    margin: 0 auto;
    width: max-content;
    font-size: 15px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;   
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}

@import url('http://fonts.cdnfonts.com/css/w95fa');
.about-main p {
    font-size: 13px;
    font-family: "W95FA", sans-serif;
    cursor: default;

    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;   
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}